/* list */
.recurso_list .element {
  padding-top: 1em;
  border: 1px solid #485862;
  margin-bottom: 5px;
  font-family: verdana, Arial, Helvetica, sans-serif;
  
}
.recurso_list .element:hover {
 background-color: #232F36;

 -moz-box-shadow: 0 0 2px 2px #888;
-webkit-box-shadow: 0 0 2px 5px#888;
box-shadow: 0 0 2px 2px #888;
 1opacity: 0.5;
 1filter: alpha(opacity=50);
1-moz-opacity: 0.5;
 
}
.recurso_list .elements .element{
list-style-type: none;
}
.recurso_list ul.elements{
padding-left: 0px;
}
.recurso_list .t_medium .link {
  color:#2666C3;
  text-decoration:none;
}
 .recurso_list .elements .element .titulo_link {
color: #FFA53A;
font-family: verdana, Arial, Helvetica, sans-serif;
font-size: 13px;
font-weight: bold;
opacity: 1;

}
.navigation_bread_crumb ol{

}
.navigation_bread_crumb {
background-color: #252D35;
padding-left: 10px;
-moz-box-shadow: 0 0 2px 2px #252D35;
-webkit-box-shadow: 0 0 2px 5px#252D35;
box-shadow: 0 0 2px 2px #252D35;
}
/* show */
.recurso_show .image {
  float: left;
  margin: 0 1em 0.5em 0;
  background: #fff;
  border: 1px solid #E5E5E5;
  padding: 7px;
}

/* infos */
.recurso_infos {

  padding: 5px;
  border: 1px solid #252D35;
  font-size: 85%;
  background-color: #252D35;
  
}
.recurso_infos a,
.recurso_infos span{
  padding-left: 0px;
  margin: 0 5px;
}

/* comments */
.descriptor_rojo{
color: red;
font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
font-size: 13pt;
}
.descriptor{

color: #206BA4;
font-family: "Segoe UI",Calibri,"Myriad Pro",Myriad,"Trebuchet MS",Helvetica,Arial,sans-serif;
font-size: 12pt;
}
.descriptor .recurso_list{
font-size:13px;
font-family: verdana, Arial, Helvetica, sans-serif;
color:#fff;
}
.recurso_list .aviso{
display: block;
margin-bottom: 10px;
width: min;
padding: 3px;
border:1px solid lime;
/margin-left: 10px;
color: lime;
margin-top: 10px;
text-align: center;
}
.recurso_comment_list_by_recurso .element {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #E5F0FB;
  margin-bottom: 0.5em;
}

.recurso_comment_list_by_recurso .author {
  font-weight: bold;
}

.recurso_comment_list_by_recurso .date {
  font-style: italic;
  margin-left: 1em;
}